html,
body {
  font-family: system-ui;
  user-select: none;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .cells-view {
    flex: 1;
    overflow: auto;
    display: grid;

    .cells-container {
      display: grid;
      justify-self: center;
      border: 2px solid #666;
      border-radius: 8px;
      height: min-content;
    }

    .cell {
      user-select: none;
      cursor: pointer;
      position: relative;

      .cell-content {
        // disable flex to prevent layout shift
        // display: inline-flex;
        // justify-content: center;
        // align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
      }

      &.solution-reveal {
        background: slategray;
      }
      &.solution-flag {
        background: brown;
      }
    }

    &.state-idle,
    &.state-playing {
      .cell {
        &:hover {
          outline: 1px dashed #66666666;
        }

        &:not(.state-revealed) {
          &:hover {
            filter: brightness(0.8);
          }

          &.pointer-reveal {
            filter: brightness(0.5);
          }
          &.pointer-dig-surroundings {
            filter: brightness(0.625);
          }
        }
      }
    }
  }

  .solutions {
    .table-wrapper {
      max-height: 180px;
      overflow: auto;
    }
  }

  .emoji-center {
    // Enlarge and down scale to align emoji to center in Chromium based browsers
    // font-size: 48px;
    // transform: scale(0.5);
    font-size: 24px;
    line-height: 32px;
  }

  .flex-row {
    display: inline-flex;
    align-items: center;
  }
}
