html,
body {
  margin: 0;
  box-sizing: border-box;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .status-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
  }

  .cells-view {
    flex: 1;
    overflow: auto;
    display: grid;

    .cells-container {
      display: grid;
      justify-self: center;
      border: 2px solid #666;
      border-radius: 8px;
      height: min-content;
    }

    .cell {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }

    &.state-idle,
    &.state-playing {
      .cell {
        &:hover {
          outline: 1px dashed #66666666;
        }

        &:not(.state-revealed) {
          &:hover {
            filter: brightness(0.8);
          }

          &.pointer-reveal {
            filter: brightness(0.5);
          }
          &.pointer-macro {
            filter: brightness(0.625);
          }
        }
      }
    }

    .cell-content {
      // Enlarge and down scale to align emoji to center in Chromium based browsers
      font-size: 48px;
      transform: scale(0.5);
    }
  }
}
